body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('Windows-11-Bloom-Screensaver-Dark-scaled.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center ;
  
}


.background {
  padding: 20px;
}

.container {
  text-align: center;
  z-index: 1;
}

.signup-box {
  background-color: white;
  padding: 20px;
  width: 350px;
  height:450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.signup-title {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top:70px;
}


.input-container {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-family: 'Calibri', sans-serif;
  font-size: 12px;
 
  border: 1px solid #f7f5f5;
  margin-bottom: 1px;
  background-color: #f5f5f5;
}

.checkbox-row {
  display: inline-block;
  font-size: 10px;
  vertical-align: middle;
  text-align: left;
  margin-left: -300px;
  margin-right: 20px;
  margin-top:-40px;
}

.submit-button {
  display: inline-block;
  vertical-align: middle ;
margin-right: -180px;
  margin-top:20px;
}

.links {
  margin-top: 8px;
}

.text-link {
  display: block;
  margin-bottom: -1px;
  text-decoration: none;
  font-family: 'Calibri', sans-serif;
  color: #808080;
  font-size:12px
}

